<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>meow</h1>

<form action="{% url 'submit' %}" method="post">
    {% csrf_token %}
    <div style="display: flex; flex-direction: column;">
        <label for="name">Название компании</label>
        <input type="text" name="name" id="name"></input>
        <label for="poc">Контактное лицо</label>
        <input type="text" name="poc" id="poc"></input>
        <label for="phone_number">Номер телефона</label>
        <input type="text" name="phone_number" id="phone_number"></input>
        <label for="desc">Описание заявки</label>
        <textarea name="desc" id="desc"></textarea>
        <label for="email">Адрес электронной почты</label>
        <input type="email" name="email" id="email"></input>
        <label for="company">Адрес компании</label>
        <input type="text" name="company" id="company"></input>
    </div>
    <input type="submit" value="Send!!!!!">
</form>

</body>
</html>