.system-box {
    width: 100%;
    height: 5rem;

    border-radius: 1rem;
    background-color: lightgray;
    transition: all ease 0.1s;
}

.system-box:has(input:checked) {
    background-color: cornflowerblue;
}

.system-box-label {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.system-box-checkbox {
    display: none;
}

.system-constructor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 1rem;
}